*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #FCFCFC;
}
/* <<< Home  Strytegy >>> */
header{
    padding: 5%;
}
.contHome__manage{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 3%;
    margin-left: -39px;
}
.contHome__manage h1{
    background: #3913B3;
    color: #FAFAFA;
    font-family:"korolev";
    box-shadow:  0px 0px 8px #999 ;
    padding: 35px;
    height: 58vh;   
    font-size: 50px;
 
}
.contHome__manage img{
    margin: 8.99%;
}
.contHome__manage input{
    background-color: #4152C0;
    color: #FAFAFA;
    border: none;
    border-radius: 4px;
    margin: 1%;
    padding:  8px 18px 3%;
    height: 6vh;
    margin-top: 15%;
    font-family:"korolev";
}
.Log-in{
    display: inline-flex;
}
.contHome__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
    .contHome__manage{
        flex-direction: column;
        align-items: center;
    }
    .contHome__manage h1{
        margin-top: 50%;
    }
    .Log-in{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        order: -1;
    }
    .contHome__manage img{
        top: auto;
        width: 40%;
    }
    .contHome__manage input{
        margin-top: 4%;
        width: 100%;
        padding: 6px;
    }
}

/* <<< Home  Strytegy >>> */
.contHome__collective{
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 5%;
    margin-top: -283px;

}
.contHome__collective div{
    width: unset;
    
}
.contHome__collective div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contHome__collective div:nth-child(1) p{
    background: #52C6D8;
    box-shadow: 0px 0px 8px #999;
    padding: 23px 59px;
    font-family: "korolev";
    height: 43vh;
    width: 275px;
    line-height: 1.5;
    margin-left: 51px;
}
.home__inputs{
    margin-left: -16px;

}
.contHome__collective div:nth-child(1) .home__input{
    text-align: center;
    background-color: #FAFAFA;
    border: solid 0.56px #EDEDED;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family:"korolev";
    margin-left: 80px;
    padding: 3%;
    width: 39%;
}
.contHome__collective div:nth-child(1) .home__submit{
    background-color: #4152C0;
    color: #FAFAFA;
    border: none;
    border: solid 0.56px  #4152C0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -4px;
    padding: 3%;
    width: 33%;
}
.contHome__collective  img{
    width: 82%;
    border-radius: 1px;
    border: solid 1px #CECECE;
    box-shadow: 0px 0px 8px #999;
    margin-right: 67px;
}

@media (max-width: 768px){
    .contHome__collective{
        flex-direction: column-reverse;
    }
}
/* <<< Home  Strytegy >>> */
.contHome__realTime{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
.contHome__realTime h1{
    width: 70%;
    font-family:"korolev";
   color: #505050;
   font-size: 44px;
   text-align: center;
}
@media (max-width: 768px){
    .contHome__realTime h1{
        width: 427px;
       
    }
 }
/* <<< Sobre  Strytegy >>> */
.contSobre__descripition{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
.contSobre__descripition div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}
.contSobre__descripition div img{
    width: 204.83px;
    height: 244.83px;
}

.contSobre__descripition div h1{
    color: #3913B3;
    width: 100%;
    text-align: center;
    margin: 5%;
    font-family:"korolev";
}
.contSobre__descripition div p{
    width: 73%;
    margin: 5%;
    font-weight: 600;
    font-family: "korolev";
    line-height: 1.8;
}
.contSobre__descripition div span{
    align-self: flex-start;
    width: 68%;
    margin-left: 15%;
    line-height: 2;
    font-family: "korolev";
}
@media (max-width: 768px){
   .contSobre__descripition{
       flex-direction: column;
   }
   .contSobre__descripition div{
       width: 100%;
   }
}
/* <<< Sobre  Strytegy >>> */
.contSobre__explore{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contSobre__explore h1{
   color: #3913B3;
   font-family:"korolev";
   font-size: 32px;
   margin: 9%;
}
.contSobre__explore span{
    border-bottom: solid 2px #FF2D9F;
 }
 
 @media (max-width: 768px){
    .contSobre__explore{
       flex-direction: column;
       margin-left: 24px;
    }
    .contSobre__explore h1{
        width: 297px;
     }
     
 }
/* <<< Footer  Strytegy >>> */
footer{
    display: flex;
    background-color: #fff;
    padding-bottom: 6%;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contContact__email{
    width: 33%;
    padding: 5%;
}
.contContact__email h1{
    width: 94%;
    font-size: 24px;
    font-family:"korolev";
    margin: 1%;
}
.contContact__email label{
    color: #4152C0;
    font-family:"korolev";
    margin: 10%;
    font-size: 12px;
}
.contContact__email input:nth-child(2){
    text-align: center;
    background-color: #FAFAFA;
    border: solid 0.56px #EDEDED;
    border-radius: 4px;
    font-family:"korolev";
    margin: 2%;
    padding: 4%;
    width: 100%;
}
.contContact__email input:nth-child(3){
    background-color: #4152C0;
    color: #FAFAFA;
    border: none;
    border-radius: 4px;
    margin: 2%;
    padding: 4%;
    width: 100%;
}
.contContact__aboutUs{
    width: 33%;
    margin-top: 9%; 
}
.contContact__aboutUs h1{
    align-self: flex-start;
    font-size: 24px;
    font-family:"korolev";
    margin: 1%;
    margin-left: 70px;
}
.contContact__aboutUs p{
    align-self: center;
    width: 68%;
    line-height: 1.5;
    font-family:"korolev";
    margin: 0.50%;
}
.contContact__socialNetworks{
    width: 33%;
    padding: 5%;
}
.contContact__socialNetworks h1{
    align-self: flex-start;
    font-size: 24px;
    font-family:"korolev";
    margin-top: 11%;
}
.contContact__socialNetworks h2{
    align-self: flex-start;
    width: 57%;
    font-family:"korolev";
    font-size: 20px;
    margin-top: 2%;
}
.contContact__socialNetworks ul{
    display: flex;
    align-self: flex-start;
    margin-top: 10%;
    margin-left: -13px
}
.contContact__socialNetworks ul a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family:"korolev";
    margin: 15px;
}
.contContact__socialNetworks figure{
    display: flex;
    align-self: flex-start;
}
.contContact__socialNetworks figure a{
    color: #000;
    text-decoration: none;
    font-family:"korolev";
}
.contContact__socialNetworks figure a:hover{
    text-transform: uppercase;
    border-bottom: solid 1px #FF2D9F;
    font-weight: 900;
}
.language{
    margin-top: 10%
}
.language a:nth-child(2){
    margin-left: 90%;
}
@media (max-width: 768px){
    footer{
        flex-direction: column;
        align-items: center;
    }
    .contContact__email{
        width: 100% ;
    }
    .contContact__email h1{
        width: 280px;
    }
    .contContact__aboutUs{
        width: 325px;
        order: 1;
    }
    .contContact__aboutUs h1{
        margin-left: 23px;
    }
    .contContact__aboutUs p{
        margin: 1.5%;
        align-self: unset;
        margin-left: -52px;
    }
    .contContact__socialNetworks {
        width: 278px;
        padding: 0;
    }
    .contContact__socialNetworks h2{
        width: 67%;
    }
    
}